---
# RedHat/CentOS/Amazon Linux security tasks

- name: Install security packages
  yum:
    name:
      - fail2ban
      - aide
      - rkhunter
      - chkrootkit
    state: present
  ignore_errors: yes
  register: security_packages

- name: Install audit tools
  yum:
    name:
      - audit
      - audit-libs
    state: present
  ignore_errors: yes



