<?xml version='1.1' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <jenkinsUrl>{{ jenkins_url | default("http://localhost:8080") }}</jenkinsUrl>
  <adminAddress>{{ jenkins_admin_email | default("admin@example.com") }}</adminAddress>
</jenkins.model.JenkinsLocationConfiguration>



