---
# Security Role Variables

# Firewall rules
firewall_rules:
  - { port: '22', protocol: 'tcp', description: 'SSH' }
  - { port: '8080', protocol: 'tcp', description: 'Jenkins' }
  - { port: '443', protocol: 'tcp', description: 'HTTPS' }
  - { port: '80', protocol: 'tcp', description: 'HTTP' }

# SSH security settings
ssh_security_settings:
  - { regexp: '^#?MaxAuthTries', line: 'MaxAuthTries 3' }
  - { regexp: '^#?ClientAliveInterval', line: 'ClientAliveInterval 300' }
  - { regexp: '^#?ClientAliveCountMax', line: 'ClientAliveCountMax 2' }
  - { regexp: '^#?X11Forwarding', line: 'X11Forwarding no' }
  - { regexp: '^#?UsePAM', line: 'UsePAM yes' }

ssh_disable_password_auth: false  # Set to true to disable password auth

# Kernel security parameters
kernel_security_params:
  - { name: 'net.ipv4.ip_forward', value: '0' }
  - { name: 'net.ipv4.conf.all.send_redirects', value: '0' }
  - { name: 'net.ipv4.conf.default.send_redirects', value: '0' }
  - { name: 'net.ipv4.conf.all.accept_redirects', value: '0' }
  - { name: 'net.ipv4.conf.default.accept_redirects', value: '0' }
  - { name: 'net.ipv4.conf.all.secure_redirects', value: '0' }
  - { name: 'net.ipv4.conf.default.secure_redirects', value: '0' }
  - { name: 'net.ipv4.conf.all.log_martians', value: '1' }
  - { name: 'net.ipv4.conf.default.log_martians', value: '1' }
  - { name: 'net.ipv4.icmp_echo_ignore_broadcasts', value: '1' }
  - { name: 'net.ipv4.icmp_ignore_bogus_error_responses', value: '1' }
  - { name: 'net.ipv4.tcp_syncookies', value: '1' }
  - { name: 'net.ipv6.conf.all.accept_redirects', value: '0' }
  - { name: 'net.ipv6.conf.default.accept_redirects', value: '0' }

# Services to disable
disabled_services:
  - bluetooth
  - cups
  - avahi-daemon

# Security update settings
security_updates_only: false  # Set to true to install only security updates



